@font-face{
    font-family: Barlow;
    src: url(../assets/fonts/BarlowSemiCondensed-Regular.ttf);
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: Barlow;
    background-image: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    padding: 0em 30em;
}
.row{
    padding: 0%;
    margin: 0%;
}
.wrapper{
    padding: 0%;
    margin: 0%;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#heading{
    display: flex;
    justify-content: center;
    margin: 0em;
    padding: 0.5em 0em;
    height: 20vh;
}
#headingWrapper{
    padding: 0.25em 1em 0em 1em;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    width: 100%;
}
#heading .items-group{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0%;
    margin: 0%;
}
#heading .item-text{
    font-weight: bold;
}
#heading .score-div{
    background-color: white;
    padding: 1em 2em;
    margin: 0%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}
#heading .score-div p:first-child{
    color: blue;
    padding: 0%;
    margin: 0%;
}
#score{
    font-size: 2em;
    padding: 0%;
    margin: 0%;
}


/* Canvas Section */
#mainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    margin: 0%;
    height: 70vh;
}
#imagesWrapper{
    position: relative;
    padding: 0%;
    margin: 0%;
    height: 300px;
    width: 300px;
}
#imagesWrapper > div img{
    border-radius: 30px;
    width: 60px;
    height: 60px;
    padding: 0.5em;
    background-color: #fafafa;
    cursor: pointer;
}
#imagesWrapper > div #rock{
    border: 5px solid red;
}
#imagesWrapper > div #paper{
    border: 5px solid greenyellow;
}
#imagesWrapper > div #scissors{
    border: 5px solid goldenrod;
}
#imagesWrapper > div #lizard{
    border: 5px solid rgb(70, 67, 243);
}
#imagesWrapper > div #spock{
    border: 5px solid brown;
}

#imagesWrapper > div img:hover{
    transform: scale(1.5);
    transition: 0.35s;
}
#bg-pentagon{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 300px;
}
#rock{
    position: absolute;
    left: 118px;
    top: -15px;
    padding: 0%;
    margin: 0%;
}
#paper{
    position: absolute;
    left: -12px;
    top: 90px;
}
#scissors{
    position: absolute;
    left: 250px;
    top: 90px;
}
#lizard{
    position: absolute;
    left: 27px;
    top: 254px;
}
#spock{
    position: absolute;
    left: 200px;
    top: 254px;
}

/* Rules Div */
.rules-div{
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5em 0em 0.5em 0em;
    margin: 0em;
    z-index: 99999;
}
.rules-div .btn{
    border-radius: 5px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 0.5em 1em;
    font-weight: 900;
    font-size: 1rem;
    width: auto;
}
.rules-div .btn:hover{
    cursor: pointer;
    color: black;
    background-color: white;
}

/* Modal Section */
#resultModal{
    padding-top: 20vh;
    margin: 0%;
}
#resultModal .modal-dialog{
    padding: 0em 30em 0em 30em;
    width: 100%;
    max-width: none;
    margin: 0%;
}
#resultModal .modal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    background-image: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));    
    height: 70vh;
    border: none;
}

#resultModal .modal-backdrop {
    background-color: transparent;
 }

/* Result Outcome Section */
#outcomeDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0em 0.5em;
}
#outcomeDiv .btn{
    background-color: #fafafa;
    color: darkblue;
    font-weight: bold;
    font-size: 0.875rem;
}
#outcomeDiv .btn:hover{
    color: black;
}
#outcomeDiv #resultDetails{
    font-size: 1.75rem;
    font-weight: bold;
}
#outcomeDiv .col{
    color: #fafafa;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 600;
}
#outcomeDiv .col img{
    border-radius: 75px;
    width: 150px;
    height: 150px;
    padding: 0.75em;
    background-color: #fafafa;
    cursor: pointer;
}

#outcomeDiv > div .rock{
    border: 10px solid red;
}
#outcomeDiv > div .paper{
    border: 10px solid greenyellow;
}
#outcomeDiv > div .scissors{
    border: 10px solid goldenrod;
}
#outcomeDiv > div .lizard{
    border: 10px solid rgb(70, 67, 243);
}
#outcomeDiv > div .spock{
    border: 10px solid brown;
}
#outcomeDiv .hide{
    display: none;
}
.grow{
    transform: scale(1.25);
    transition: 0.25s;

}
#resultSection{
    align-items: flex-end;
}
#rulesModal .modal-header{
    border: none;
}
#rulesModal .modal-body{
    display: flex;
    justify-content: center;
}
#rulesModal .modal-body img{
    width: 65%;
}
#rulesModal .instructions{
    font-size: 1rem;
    padding: 0em 1em;
    line-height: 1.25em;
}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

@media all and (min-width: 320px) and (max-width: 480px){
    body{
        padding: 0em 1em;
    }
    #heading{
        padding: 0.5em 0em;
    }
    #headingWrapper{
        padding: 0.25em 0.5em 0em 0.5em;
    }
    #heading .item-text{
        font-weight: bold;
        font-size: 0.75rem;
    }
    #heading .score-div{
        padding: 0.5em 1em;
        width: 25%;
    }
    #score{
        font-size: 1.75em;
    }
    
    /* Canvas Section */
    #imagesWrapper > div img{
        border-radius: 30px;
        width: 60px;
        height: 60px;
        padding: 0.5em;
        background-color: #fafafa;
        cursor: pointer;
    }
    #imagesWrapper > div img:hover{
        transform: scale(1.5);
        transition: 0.35s;
    }    

    /* Rules Div */
    .rules-div{
        display: flex;
        justify-content: center;
        padding: 0.5em 0em 0.5em 0em;
        margin: 0em;
    }
    .rules-div .btn{
        font-size: 1rem;
    }
    
    /* Modal Section */
    #resultModal .modal-dialog{
        padding: 0em 0em 0em 0em;
        width: 100%;
        max-width: none;
        margin: 0%;
    }    
    
    /* Result Outcome Section */
    #outcomeDiv{
        padding: 0em 0em;
        align-items: flex-end;
    }
    #outcomeDiv .btn{
        font-size: 0.75rem;
        padding: 0.125em 0.25em;
    }
    #outcomeDiv #resultDetails{
        font-size: 1rem;
    }
    #outcomeDiv .col{
        font-size: 0.7rem;
        font-weight: 600;
    }
    #outcomeDiv .col img{
        border-radius: 37.5px;
        width: 75px;
        height: 75px;
        padding: 0.75em;
    }
    
    #outcomeDiv .hide{
        display: none;
    }
    .grow{
        transform: scale(1.25);
        transition: 0.25s;
    }
    #rulesModal{
        width: 100%;
        padding: 0%;
        margin: 0%;
    }
    #rulesModal .modal-dialog{
        margin: 1.5em 0em 0em 0em;
        padding: 0%;
    }
    #rulesModal .modal-header{
        border: none;
        margin: 0px;
        padding: 0.5em 1em 0em 0em;
    }
    #rulesModal .modal-body img{
        width: 100%;
    }
    #rulesModal .instructions{
        font-size: 0.875rem;
        padding: 0em 0.5em;
        line-height: 1.25em;
    }
}
@media all and (min-width: 481px) and (max-width: 768px){
    body{
        padding: 0em 5em;
    }
    #heading{
        padding: 0.5em 0em;
    }
    #headingWrapper{
        padding: 0.25em 1em 0.25em 1em;
    }
    #heading .item-text{
        font-weight: bold;
        font-size: 1.25rem;
    }
    #heading .score-div{
        padding: 1em 1.5em;
        width: 25%;
        font-size: 1.5rem;
    }
    #score{
        font-size: 3rem;
    }
    
    /* Canvas Section */
    #imagesWrapper > div img{
        border-radius: 30px;
        width: 60px;
        height: 60px;
        padding: 0.5em;
        background-color: #fafafa;
        cursor: pointer;
    }
    #imagesWrapper > div img:hover{
        transform: scale(1.5);
        transition: 0.35s;
    }    

    /* Rules Div */
    .rules-div{
        display: flex;
        justify-content: center;
        padding: 0.5em 0em 0.5em 0em;
        margin: 0em;
    }
    .rules-div .btn{
        font-size: 1.5rem;
    }
    
    /* Modal Section */
    #resultModal .modal-dialog{
        padding: 0em 0em 0em 0em;
        width: 100%;
        max-width: none;
        margin: 0%;
    }    
    
    /* Result Outcome Section */
    #outcomeDiv{
        padding: 0em 1em;
        align-items: flex-end;
    }
    #outcomeDiv .btn{
        font-size: 1.25rem;
        padding: 0.25em 0.5em;
    }
    #outcomeDiv #resultDetails{
        font-size: 2rem;
    }
    #outcomeDiv .col{
        font-size: 1.5rem;
        font-weight: 600;
    }
    #outcomeDiv .col img{
        border-radius: 50px;
        width: 100px;
        height: 100px;
        padding: 0.75em;
    }
    
    #outcomeDiv .hide{
        display: none;
    }
    .grow{
        transform: scale(1.25);
        transition: 0.25s;
    }
    #rulesModal{
        width: 100%;
        padding: 0%;
        margin: 0%;
        display: flex;
        justify-content: center;
    }
    #rulesModal .modal-dialog{
        margin: 1.5em 0em 0em 0em;
        padding: 3em;
        max-width: none;
    }
    #rulesModal .modal-header{
        border: none;
        margin: 0px;
        padding: 0.5em 1em 0em 0em;
    }
    #rulesModal .modal-body img{
        width: 80%;
    }
    #rulesModal .instructions{
        font-size: 1.5rem;
        padding: 0em 0.5em;
        line-height: 1.25em;
    }
}
@media all and (min-width: 769px) and (max-width: 1024px){
    body{
        padding: 0em 5em;
    }
    #heading{
        padding: 0.5em 0em;
    }
    #headingWrapper{
        padding: 0.25em 1em 0.25em 1em;
    }
    #heading .item-text{
        font-weight: bold;
        font-size: 1.75rem;
    }
    #heading .score-div{
        padding: 1em 1.5em;
        width: 25%;
        font-size: 2rem;
    }
    #score{
        font-size: 3.5rem;
    }
    
    /* Canvas Section */
    #imagesWrapper > div img{
        border-radius: 30px;
        width: 60px;
        height: 60px;
        padding: 0.5em;
        background-color: #fafafa;
        cursor: pointer;
    }
    #imagesWrapper > div img:hover{
        transform: scale(1.5);
        transition: 0.35s;
    }    

    /* Rules Div */
    .rules-div{
        display: flex;
        justify-content: center;
        padding: 0.5em 0em 0.5em 0em;
        margin: 0em;
    }
    .rules-div .btn{
        font-size: 2rem;
    }
    
    /* Modal Section */
    #resultModal .modal-dialog{
        padding: 0em 5em 0em 5em;
        width: 100%;
        max-width: none;
        margin: 0%;
    }    
    
    /* Result Outcome Section */
    #outcomeDiv{
        padding: 0em 0.5em;
        align-items: flex-end;
    }
    #outcomeDiv .btn{
        font-size: 1.5rem;
        padding: 0.25em 0.75em;
    }
    #outcomeDiv #resultDetails{
        font-size: 2.75rem;
    }
    #outcomeDiv .col{
        font-size: 2rem;
        font-weight: 600;
    }
    #outcomeDiv .col img{
        border-radius: 75px;
        width: 150px;
        height: 150px;
        padding: 0.75em;
    }
    
    #outcomeDiv .hide{
        display: none;
    }
    .grow{
        transform: scale(1.25);
        transition: 0.25s;
    }
    #rulesModal{
        width: 100%;
        padding: 0%;
        margin: 0%;
        display: flex;
        justify-content: center;
    }
    #rulesModal .modal-dialog{
        margin: 1.5em 0em 0em 0em;
        padding: 5em;
        max-width: none;
    }
    #rulesModal .modal-header{
        border: none;
        margin: 0px;
        padding: 0.5em 1em 0em 0em;
    }
    #rulesModal .modal-body img{
        width: 80%;
    }
    #rulesModal .instructions{
        font-size: 1.75rem;
        padding: 0em 1em;
        line-height: 1.25em;
    }
}
@media all and (min-width: 1025px) and (max-width: 1360px){
    body{
        padding: 0em 5em;
    }
    #heading{
        padding: 0.5em 0em;
    }
    #headingWrapper{
        padding: 0.25em 1em 0.25em 1em;
    }
    #heading .item-text{
        font-weight: bold;
        font-size: 1.75rem;
    }
    #heading .score-div{
        padding: 1em 1.5em;
        width: 25%;
        font-size: 2rem;
    }
    #score{
        font-size: 3.5rem;
    }
    
    /* Canvas Section */
    #imagesWrapper > div img{
        border-radius: 30px;
        width: 60px;
        height: 60px;
        padding: 0.5em;
        background-color: #fafafa;
        cursor: pointer;
    }
    #imagesWrapper > div img:hover{
        transform: scale(1.5);
        transition: 0.35s;
    }    

    /* Rules Div */
    .rules-div{
        display: flex;
        justify-content: center;
        padding: 0.5em 0em 0.5em 0em;
        margin: 0em;
    }
    .rules-div .btn{
        font-size: 2rem;
    }
    
    /* Modal Section */
    #resultModal .modal-dialog{
        padding: 0em 5em 0em 5em;
        width: 100%;
        max-width: none;
        margin: 0%;
    }    
    
    /* Result Outcome Section */
    #outcomeDiv{
        padding: 0em 0.5em;
        align-items: flex-end;
    }
    #outcomeDiv .btn{
        font-size: 1.5rem;
        padding: 0.25em 0.75em;
    }
    #outcomeDiv #resultDetails{
        font-size: 2.75rem;
    }
    #outcomeDiv .col{
        font-size: 2rem;
        font-weight: 600;
    }
    #outcomeDiv .col img{
        border-radius: 75px;
        width: 150px;
        height: 150px;
        padding: 0.75em;
    }
    
    #outcomeDiv .hide{
        display: none;
    }
    .grow{
        transform: scale(1.25);
        transition: 0.25s;
    }
    #rulesModal{
        width: 100%;
        padding: 0%;
        margin: 0%;
        display: flex;
        justify-content: center;
    }
    #rulesModal .modal-dialog{
        margin: 1.5em 0em 0em 0em;
        padding: 5em;
        max-width: none;
    }
    #rulesModal .modal-header{
        border: none;
        margin: 0px;
        padding: 0.5em 1em 0em 0em;
    }
    #rulesModal .modal-body img{
        width: 50%;
    }
    #rulesModal .instructions{
        font-size: 1.875rem;
        padding: 0em 1em;
        line-height: 1.25em;
    }
}